
:root {
  --float-size: 70px;
}

@keyframes float {
  0% {
    transform: translate(calc(var(--float-size) * -1), calc(var(--float-size) * -1)) rotate(0deg);
  }
  33% {
    transform: translate(0px, 0px) rotate(120deg);
  }
  67% {
    transform: translate(calc(var(--float-size) * -2), calc(var(--float-size) * 0.75)) rotate(240deg);
  }
  100% {
    transform: translate(calc(var(--float-size) * -1), calc(var(--float-size) * -1)) rotate(360deg);
  }
}

@keyframes float-more {
  0% {
    transform: translate(calc(var(--float-size) * -3), calc(var(--float-size) * -3));
  }
  33% {
    transform: translate(0px, 0px);
  }
  67% {
    transform: translate(calc(var(--float-size) * -2), calc(var(--float-size) * 1.5));
  }
  100% {
    transform: translate(calc(var(--float-size) * -3), calc(var(--float-size) * -3));
  }
}